task3/.vscode/settings.json
task3/verle_cython_openmp/verlet.cpython-311-x86_64-linux-gnu.so
task3/verle_cython_openmp/.vscode/settings.json
task3/verle_cython_openmp/build/lib.linux-x86_64-cpython-311/verlet.cpython-311-x86_64-linux-gnu.so
task3/verle_cython_openmp/build/temp.linux-x86_64-cpython-311/verlet.o
task3/verle_cython_openmp/verlet.c
task3/solve_with_ivp/__pycache__/solve_with_ivp.cpython-311.pyc
task3/verle_opencl/__pycache__/verle_opencl.cpython-311.pyc
task3/verle_opencl/__pycache__/VerletOpenCL.cpython-311.pyc
task3/verle/__pycache__/verle.cpython-311.pyc
task4/.vscode/settings.json
